@import url('https://fonts.googleapis.com/css?family=Montserrat');

html * {
  font-family: 'Monserrat', sans-serif;
}

nav {
	background-color: #000000;
	height: 70px;
	padding: 5px;
	margin: -8px;
}

.logo {
	color: #FFFFFF;
	text-decoration: none;
}

a.header {
	color: #FFFFFF;
	text-decoration: none;
}

a.blog-link {
	padding-left: 3px;
}